*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.app {
  &__header {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0rem;

    &--title {
      font-size: 4rem;
    }

    &--dropdowns {
      display: flex;
      justify-content: space-between;
    }

    &--dropdown:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    &--heading {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }

    &--infoboxes {
      display: flex;
    }
    s &--active {
      font-size: 2rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5rem;
}
