.map {
  height: 50rem;
  width: 50rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}
